/* IMAGE WRAPPER */
.crModalImageWrapper {
	justify-content: center;
	background: rgb(0, 0, 0);
	position: relative;
	overflow: hidden;
	align-items: center;
	display: flex;
	border-radius: 15px;
}
.crModalImageWrapperMobile {
	flex: 1 0 500px;
	max-width: 500px;
	max-height: 500px;
}
.crModalImageWrapperTablet {
	flex: 1 0 800px;
	max-width: 800px;
	min-width: 800px;
	max-height: 700px;
}
.crModalImageWrapperDesktop {
	flex: 1 0 900px;
	max-width: 900px;
	/* min-width: 900px; */
	max-height: 700px;
}
.crModalImageWrapperDesktopLg {
	flex: 1 0 650px;
	max-width: 650px;
	max-height: 650px;
}
.crModalImageWrapperLandscape {
}
.crModalImageWrapperPortrait {
}
.crModalImageWrapperSquare {
}

/* IMAGE */
.crImagePortrait {
	width: auto;
	height: 100%;
	/* border: 3px solid lime; */
}
.crImageLandscape {
	width: 100%;
	height: auto;
	/* border: 3px solid red; */
}
.crImageSquare {
	width: auto;
	height: 100%;
}

/*  ADDRESS  */
.displayAddress {
	color: white;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}

/* PROMPT TEXT DATA WRAPPER */
.overlayPadding {
	padding: 40px 0;
}
.relativePadding {
	padding: 20px 0;
}
.relativePaddingMobile {
	padding: 20px 0 20px 20px;
}

/* PROMPT COMMAND */
.crPromptCommand {
	font-weight: bold;
	color: #8c7cf0;
	font-family: courier;
	font-size: 1.5rem;
}

/* MODAL PROMPT */
.crPromptText {
	max-height: 30vh;
	overflow: hidden;
	overflow-y: scroll;
}
.crPromptWhite {
	line-height: 1.3;
	color: white;
}
.crPromptBlack {
	line-height: 1.3;
	color: black;
}

.crPromptSizeSm {
	font-size: 1rem;
}

.crPromptSizeMd {
	font-size: 1rem;
}

.crPromptSizeLg {
	font-size: 1.4rem;
}

.crPromptReg {
	font-weight: normal;
}

.crPromptBold {
	font-weight: bold;
}

/* MODAL */
.crModal {
}

@media (max-width: 768px) {
	.crModal {
	}
}
