.creatorHeaderWrapperStyles {
	display: flex;
	flex: 1;
	justify-content: center;
	margin-top: 100px;
}

.profileWrapperStyles {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	width: 100%;
	z-index: 150;
}

.creatorProfileStyles {
	display: flex;
	flex: 2;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.profileAvatarWrapperStyles {
	display: flex;
	flex: 1;
}

.profileName {
	margin-top: 20px;
}
