.displayAddress {
	color: white;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}
.crPromptCommand {
	font-weight: bold;
	color: #8c7cf0;
	font-family: courier;
	font-size: 1.5rem;
}
.crPrompt {
	font-size: 2em;
	line-height: 1.3;
}
