/* CR SOCIAL */
.crSocial {
	height: 100%;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.crSocialMobile {
	height: 100%;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.socialPaddingRelativeModal {
	margin: 20px 0;
}

/* TEXT COLOR */
.textWhite {
	color: white;
}
.textBlack {
	color: black;
}
/* TEXT WEIGHT */
.textWeightReg {
	font-weight: 400;
}
.textWeightBold {
	font-weight: 800;
}

/*  TEXT SIZE */
.textSizeMobile {
	font-size: 1rem;
}
.textSizeTablet {
	font-size: 1.2rem;
}
.texSizeDesktop {
	font-size: 1rem;
}

/* OVERLAY BUTTON  */
.overlayBtn {
	background: rgba(0, 0, 0, 0.5);
}
.overlayBtnWidth {
	width: 50px !important;
}
.overlayBtnHeight {
	height: 70px !important;
}
@media (min-width: 768px) {
	.overlayBtnHeight {
		height: 50px;
	}
	.overlayBtnWidth {
		width: 80px;
	}
}
@media (min-width: 1024px) {
	.overlayBtnHeight {
		height: 50px !important;
	}
	.overlayBtnWidth {
		width: 80px !important;
	}
}

/* RELATIVE BUTTON */
.relativeBtn {
	background: transparent;
}
.relativeBtnWidth {
	width: 70px;
}
.relativeBtnHeight {
	height: 70px;
}
@media (min-width: 768px) {
	.relativeBtnHeight {
		width: 70px;
	}
	.relativeBtnWidth {
		width: 70px;
	}
}
@media (min-width: 1024px) {
	.relativeBtnHeight {
		height: 50px !important;
	}
	.relativeBtnWidth {
		width: 80px !important;
	}
}

/* JUSTIFY BUTTON */

.justifyCenterBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.justifyStartBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* PRAISE BURN */
.crPraiseBurn {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	flex: 1;
	z-index: 150;
}
.crPraiseBurnOverlay {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	flex: 0;
	z-index: 150;
	margin: 20px 0 0 20px;
}
.crPraiseBurnMobile {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	z-index: 150;
	flex: 0;
	margin: 20px 0 0 0;
}

/* SAVE SHARE */
.buttonSizeMobile {
	width: 20px;
	height: 20px;
}
.buttonSizeTablet {
	width: 30px;
	height: 30px;
}
.buttonSizeDesktop {
	width: 50px !important;
	height: 50px !important;
}

/* SAVE SHARE ICON | SIZE & COLOR */

.iconSizeMobile {
	width: 20px;
	height: 20px;
}
.iconSizeTablet {
	width: 20px;
	height: 20px;
}
.iconSizeDesktop {
	width: 35px;
	height: 35px;
}
.iconColorBlack {
	color: black;
}
.iconColorWhite {
	color: white;
}

/* SAVE SHARE WRAPPER */

.crSaveShare {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	flex: 0;
	z-index: 150;
}
.crSaveShareOverlay {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	flex: 0;
	z-index: 150;
	margin: 20px 20px 0 0;
}
.crSaveShareMobile {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	z-index: 150;
	flex: 0;
	margin: 20px 0 0 0;
}

.creationSocialWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	height: 100%;
	width: 100%;
}
.mainSocialWrapper {
	/* flex-direction: column; */
	/* background: rgba(0, 0, 0, 0.5); */
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: transparent;
	pointer-events: none;
}
.socialTopWrapper {
	display: none;
}
.socialBottomWrapper {
	display: none;
}
.crSocialIcon {
	/* filter: drop-shadow(3px 3px 3px rgb(0 0 0 / 0.4)); */
}
