.creationsWrapper {
  margin-top: 250px;
  padding: 0 50px;
  background-color: aliceblue;
}
.filterWrapper {
  display: flex;
}
.filterGeneratorButtonWrapper {
  margin-right: 5px;
}
.generatorButtonSelected {
  background-color: lightgray;
}
