.crCardWrapper {
  position: relative;
  box-shadow: unset !important;
  background: unset;
  overflow: hidden;
  margin-bottom: 30px;
  /* -webkit-transition: 300ms;
  transition: 300ms; */
  border-radius: 10px;
}
.crCardHoverWrapper {
  position: relative;
  box-shadow: unset !important;
  background: unset;
  overflow: hidden;
  margin-bottom: 30px;
  /* -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%) !important;
  -webkit-transition: 300ms;
  transition: 300ms; */
  border-radius: 10px;
}
.crCard {
  display: flex;
  flex-direction: column;
}
.crLink {
  display: flex;
  color: black;
  /* background: rgba(0, 0, 0, 0.1); */
  justify-content: space-between;
}
.crImageWrapper {
  position: relative;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.crImageWrapper:hover > div:first-child {
  display: flex;
}
.crImageWrapper:hover > div:nth-child(2) {
  display: flex;
}
.crImageWrapper img {
  /*   width: 100%; */
  /*   height: 100%; */
  /* width: auto;
  height: 100px; */
  width: 100%;
  height: auto;
}
.crImageHoverMask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.crImageBlurMask {
  /* backdrop-filter: blur(40px); */
  /* mask-image: linear-gradient(transparent, transparent 50%); */
  /* transition: 300ms; */
  /* -webkit-transition: 300ms; */
  /* -webkit-mask-image: linear-gradient(to top, transparent 20%, black 100%); */
  z-index: 100;
  background: rgba(0, 0, 0, 1);
}
.crImageMain {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  /* background: rgba(0, 0, 0, 0.5); */
}
.crActionLeft {
  position: absolute;
  z-index: 10;
  left: 0;
  flex-direction: row;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
}
.crSocial.praise,
.cr-social.burn {
  color: grey;
  filter: grayscale(100%);
  margin: 10px;
}
.crSocial.praise:hover,
.crSocial.burn:hover {
  filter: unset;
}
.crSocial.remix {
  margin-bottom: 10px;
}
.crSocial.bookmark {
  margin-bottom: 10px;
}
.crActionRight {
  display: flex;
  width: auto;
  flex-direction: column;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
.creationContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  margin-top: 10px;
}
.crContentHoverBgWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(16px);
  mask-image: linear-gradient(transparent, transparent 50%);
  transition: 1s;
  -webkit-transition: 1s;
  -webkit-mask-image: linear-gradient(transparent, transparent 50%);
}
.crPromptMainWrapper {
  padding: 20px;
  z-index: 10;
}
.promptWrapper {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  /* mask-image: linear-gradient(transparent, transparent 50%); */
}
.crContentMain {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  bottom: 0;
  z-index: 150;
}
.crDate {
  color: white;
}
.crPromptCommand {
  font-weight: bold;
  color: #8c7cf0;
  font-family: courier;
}
.crPrompt {
  color: white;
  font-size: 1.3em;
    line-height: 1.3;
}
.crSocialWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.creationActions {
  display: none;
}
.creationHeader {
  display: inline-block;
  margin: 8px;
  padding: 8px;
}
.creationHeader > div {
  flex: 0;
  float: left;
}
.creationHeader:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 25px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  backdrop-filter: blur(16px);
}
.displayAddress {
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.crMetadata {
  display: flex;
  flex-direction: column;
  display: none;
}
.closeIconWrapper:hover {
  cursor: pointer;
  z-index: 50;
}
