.displayAddress {
	color: white;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}

/* PROMPT COMMAND */
.crPromptCommand {
	font-weight: bold;
	color: #8c7cf0;
	font-family: courier;
	font-size: 1.5rem;
}

/* MODAL PROMPT */
.crPromptWhite {
	line-height: 1.3;
	color: white;
}
.crPromptBlack {
	line-height: 1.3;
	color: black;
}

.crPromptSizeSm {
	font-size: 12px;
}

.crPromptSizeMd {
	font-size: 1rem;
}

.crPromptSizeLg {
	font-size: 1.4rem;
}

/* MODAL */
.crModal {
}

@media (max-width: 768px) {
	.crModal {
	}
}
