.middle {
	display: flex;
	align-items: center;
}
img.iconSmall {
	max-height: 20px !important;
	max-width: 20px !important;
}
img.xSmall {
	max-height: 40px !important;
	max-width: 40px !important;
}
img.small {
	max-height: 45px !important;
	max-width: 45px !important;
}
img.medium {
	min-height: 50px;
	min-width: 50px;
}
img.large {
	min-height: 120px;
	min-width: 120px;
}
img.xLarge {
	min-height: 200px;
	min-width: 200px;
}
img.xxLarge {
	min-height: 300px;
	min-width: 300px;
}
@media (min-width: 20em) {
	/* width: 100%; */
}
@media (min-width: 40em) {
	/* a img.small {
      max-height: 35px !important;
      max-width: 35px !important;
    } */
}
